@use "@material/typography/mdc-typography";
@use "@material/card";
@use "@material/list";
@use "@material/switch";
@use "@material/radio";
@use "@material/form-field";

@include card.core-styles;
@include list.core-styles;
@include switch.core-styles;
@include radio.core-styles;
@include form-field.core-styles;



@import './app.css';

body {
    background: var(--bg);
}

.section {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

