/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

body {
    --bg: #fff;
    --tooltip-bg: #323232;
    --tooltip-text: #fff;
    --textfield-bg: #F1F3F4;
    --textfield-text: rgba(0,0,0,0.35);
    --textfield-text-focus: rgba(0,0,0,0.8);
    --textfield-action: #626365;
    --textfield-action-active: rgba(0,0,0,0.05);

    width: 250px;
    background: var(--bg);
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 35px 25px 25px;
}

.qr-code-wrapper {
    width: 180px;
    height: 180px;
}

.qr-code-wrapper a {
    display: block;
    width: 100%;
    height: 100%;
}

.textfield {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 25px;
}

.textfield__input {
    font-size: 12px;
    color: var(--textfield-text);
    background: var(--textfield-bg);
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: 0;
    padding: 0 44px 0 12px;
    text-overflow: ellipsis;
}

.textfield__input.shrink {
    padding-right: 70px;
}

.textfield__input:focus {
    color: var(--textfield-text-focus);
    text-overflow: clip;
    outline: none;
    box-shadow: 0 0 0 2px #a9c3f7;
}

.textfield__actions {
    background: var(--textfield-bg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0 12px;
    align-items: center;
    border-radius: 22px;
}

.textfield__actions__btn {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.textfield__actions__btn.hidden {
    display: none;
}

.textfield__actions__btn:first-child {
    margin-left: 0;
}

.textfield__actions__btn:before {
    position: absolute;
    content: '';
    top: -6px;
    bottom: -6px;
    left: -11px;
    right: -11px;
    border-radius: 20px;
    background: var(--textfield-action-active);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.15s linear;
}

.textfield__actions__btn:hover:before {
    opacity: 1;
}

.textfield__actions__btn svg path {
    fill: var(--textfield-action);
}

@media (prefers-color-scheme: dark) {
    body {
        --bg: #292A2D;
        --tooltip-bg: #323232;
        --tooltip-text: #fff;
        --textfield-bg: #202124;
        --textfield-text: rgba(255,255,255,0.35);
        --textfield-text-focus: rgba(255,255,255,0.8);
        /* --textfield-action: #626365; */
        --textfield-action-active: rgba(255,255,255,0.05);
    }
}